

    {% extends 'main_layout.html' %} 
    
    {% block body %}
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
            Admin 
            <small>Reset Password</small>
            </h1>
            {% include 'includes/_messages.html' %}
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Change Password For {{user.first_name}} {{user.last_name}} </h3>
                                <div class="panel body">
                                    {% from 'includes/_formhelpers.html' import render_field %}
                                    <form method="post" action="">
                                        <table class="table table-stripped">
                                            <div class="form-group">
                                                {{render_field(form.password, class="form-control")}}
                                            </div>
                                            <div class="form-group">
                                            <input type="submit" value="Submit" class="btn btn-success">
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}