{% extends 'main_layout.html' %} {% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Recent Updates  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Whoops, Page Not Found</h3>
                            <div class="panel body">
                                <p>The page you were looking for could not be found</p>
                            </div>
                        </div>
                    </div>
                </div>


    </section>
    <!-- /.content -->


    </div>

    {% endblock %}