{% extends 'layout.html' %} {% block body %}


<div class="intro-header">
    <div class="container">
        <div class="col-lg-6">
            <h2>Get Your Wrist Piece Today</h2>
            <p>At this stage, Wearables are tried and tested.</p>
            <p>They help in managing your day to day activities.</p>
            <p>Get Your Notifications Straight to your wrist.  </p>
            <p>For more information Click Here.</p>

        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-a content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Expenses</h2>
                    <p class="lead">
                        Expenses are an unfortunate necessary part of our everyday lives. The term 'Money Maketh Man' comes to mind, if you have no money, you should not spend any money. The ideal scenario is to be debt free, if you can avoid needing a loan you are already ahead
                        of the game.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/pocket-watch.jpg" alt="Wall Street" id="blanc">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Income</h2>
                <p class="lead">
                    If Expenses are the scourage of Finances, then Income is the saving grace. For many, its the reason they drag themselves to work day by day. Its also necessary for those who wish to spend, need to earn.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="static/images/modern-watch.jpg" alt="Financial Times">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Budgeting</h2>
                <p class="lead">
                    Budgeting is a basic skill that can be both overlooked & undervalued. Its something every young adult should know how to do. For the most of us, we will gr through phases of needing to save money. Budgeting is key.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="static/images/smart-watch.jpg" alt="Capital">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Watch Guides</h2>
            </div>
            <div class="col-lg-8">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.gentlemansgazette.com/watch-guide/" class="btn btn-default btn-lg"><span class="network-name">Gentlemens Gazette</span></a>
                    </li>
                    <li>
                        <a href="http://www.artofmanliness.com/2016/10/05/mans-guide-wristwatches-choose-watch/" class="btn btn-default btn-lg"><span class="network-name">The Art of Manliness</span></a>
                    </li>
                    <li>
                        <a href="https://theidleman.com/manual/advice/ultimate-guide-mens-watches/" class="btn btn-default btn-lg"><span class="network-name">The Idle Man</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="col-md-8 col-md-offset-2">
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-12 col-lg-4">
                    <p class="text-center">About Details</p>
                    <ul class="list-inline">
                        <li>Expenses</li>
                        <li>Receipts</li>
                        <li>Budgets</li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <p class="text-center">About Details</p>
                    <ul class="list-inline">
                        <li>Forbes</li>
                        <li>Financial Times</li>
                        <li>New york times</li>
                        <li>Stock Exchange</li>
                        <li>Daily Curreny </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <p class="text-center">About Details</p>

                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small text-center" style="color:black" ;>Copyright &copy; A00218326 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}